/* reset */
html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-size: x-large;
  font-family: Helvetica, Arial, Sans-Serif;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #1F1F1F;
  background: #f3f6fa;
}

li {
  line-height: 180%;
}

ul {
  margin: 30px 5px;
  padding: 0;
}

a {
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #3fb1a3;
  text-decoration: none;
  border-bottom: dotted 1px;
  &:hover {
    border-bottom-color: transparent;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: 300;
  margin-bottom: 1em;
  text-transform: uppercase;
}

h2 {
  letter-spacing: 0.1em;
}

h3 {
  letter-spacing: 0.025em;
}

.big-button {
  background: none;
  border: solid 1px;
  color: inherit;
  display: inline-block;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: x-large;
  min-width: 18em;
  padding: 0.75em 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    background: rgba(188, 202, 206, 0.15);
    border-color: inherit;
    cursor: pointer;
  }
}

/* general styling */
.loading {
  text-align: center;
  width: 100%;
}

.controls {
  display: block;
  min-height: 30px;
  width: 100%;
  position: absolute;
  padding: 0;
  bottom: 10px;

  button {
    float: left;
    height: 30px;
    width: 5%;
    border: none;
    font-size: large;
    background: transparent;
    cursor: pointer;
    &:active, &:focus {
      outline: none;
    }
  }
}

.centered {
  display: block;
  text-align: center;
  width: 100%;
}

code {
  font-size: 130%;
}

.slide {
  display: block;
  padding: 20px 0 0;
  margin: 0;
  font-size: xx-large;

  h2 {
    margin: 20px;
  }


  &.vertical-center {
    padding: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &.left {
    margin: 0 5%;
  }

  &.full-width {
    width: 100%;
  }


  .demo-container {
    border: 1px solid #DDD;
    padding: 20px;
    background-color: #FFF;
  }
  pre {
    margin-top: 0;
    border: solid;
    border-color: #DDD;
    font-size: x-large;
    overflow-x: scroll;

    &.path {
      background-color: #DDD;
      margin: 0;
      padding: 1px 10px;
      font-size: large;
      color: #666;
    }
  }
}

.diagram {
  #speaker & {
    transform-origin: left top;
    transform: scale(0.45);
  }
}

/* Animations */
@keyframes moveToLeft {
  from { }
  to { transform: translateX(-100%); }
}

@keyframes moveFromLeft {
  from { transform: translateX(-100%); }
}

@keyframes moveToRight {
  from { }
  to { transform: translateX(100%); }
}

@keyframes moveFromRight {
  from { transform: translateX(100%); }
}


/* Forward transition */
.forward-enter {
  animation: moveFromRight 0.4s ease both;
  &.forward-enter-active {}
}

.forward-leave {
  animation: moveToLeft 0.4s ease both;
  &.forward-leave-active {}
}

/* Backward transition */
.backward-enter {
  animation: moveFromLeft 0.4s ease both;
  &.backward-enter-active {}
}

.backward-leave {
  animation: moveToRight 0.4s ease both;
  &.backward-leave-active {}
}
