/* reset */
html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

li {
  line-height: 180%;
}

ul {
  margin: 30px 5px;
  padding: 0;
}

/* general styling */
.loading {
  text-align: center;
  width: 100%;
}

.controls {
  width: 100%;
  top: 0;

  button {
    float: left;
    height: 30px;
    width: 5%;
  }
}

.slide {
  display: block;
  padding: 0;
  margin: 0;
  font-size: xx-large;

  h2 {
    margin: 20px;
  }

  &.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &.left {
    margin: 0 5%;
  }

  &.centered {
    text-align: center;
    width: 100%;
  }

  &.full-width {
    width: 100%;
  }

  pre {
    margin-top: 0;
    border: solid;
    border-color: #DDD;
    font-size: x-large;
    overflow-x: scroll;

    &.path {
      background-color: #DDD;
      margin-bottom: 0;
      margin-top: 10px;
      padding: 1px 10px;
    }
  }
}

/* Animations */
@keyframes moveToLeft {
  from { }
  to { transform: translateX(-100%); }
}

@keyframes moveFromLeft {
  from { transform: translateX(-100%); }
}

@keyframes moveToRight {
  from { }
  to { transform: translateX(100%); }
}

@keyframes moveFromRight {
  from { transform: translateX(100%); }
}


/* Forward transition */
.forward-enter {
  animation: moveFromRight 0.6s ease both;
  &.forward-enter-active {}
}

.forward-leave {
  animation: moveToLeft 0.6s ease both;
  &.forward-leave-active {}
}

/* Backward transition */
.backward-enter {
  animation: moveFromLeft 0.6s ease both;
  &.backward-enter-active {}
}

.backward-leave {
  animation: moveToRight 0.6s ease both;
  &.backward-leave-active {}
}
